# Git

.git
.gitignore

# Maven

target/
.m2/

# IDE

.vscode/
.idea/
_.iml
_.iws
\*.ipr

# OS

.DS_Store
Thumbs.db

# Database

database/

# Documentation

HELP.md
README.md

# Maven wrapper

mvnw
mvnw.cmd
