USE [master]
GO
/****** Object:  Database [khanh2]    Script Date: 4/20/2026 10:10:27 AM ******/
CREATE DATABASE [khanh2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'khanh2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\khanh2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'khanh2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\khanh2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [khanh2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [khanh2]
GO
/****** Object:  Table [dbo].[academic_years]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[academic_years](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[year] [nvarchar](20) NULL,
	[description] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[advisor_classe_sections]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[advisor_classe_sections](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NOT NULL,
	[student_classe_id] [uniqueidentifier] NOT NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buildings]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buildings](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[address] [nvarchar](200) NULL,
	[total_floors] [tinyint] NULL,
	[building_type] [varchar](10) NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_sections]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_sections](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NULL,
	[course_id] [uniqueidentifier] NULL,
	[semester_id] [uniqueidentifier] NULL,
	[academic_year] [nvarchar](20) NULL,
	[employee_id] [uniqueidentifier] NULL,
	[room_id] [uniqueidentifier] NULL,
	[building_id] [uniqueidentifier] NULL,
	[max_students] [int] NOT NULL,
	[min_students] [int] NULL,
	[class_type] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[registration_start] [datetime2](7) NULL,
	[registration_end] [datetime2](7) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [uniqueidentifier] NOT NULL,
	[department_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NULL,
	[name] [nvarchar](255) NULL,
	[name_en] [nvarchar](255) NULL,
	[credits] [decimal](5, 1) NULL,
	[course_type] [varchar](20) NULL,
	[theory_hours] [decimal](5, 1) NULL,
	[practice_hours] [decimal](5, 1) NULL,
	[self_study_hours] [decimal](5, 1) NULL,
	[internship_credits] [decimal](5, 1) NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](10) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[established_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_positions]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_positions](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NULL,
	[position_id] [uniqueidentifier] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[department_id] [uniqueidentifier] NULL,
	[position_id] [uniqueidentifier] NULL,
	[hire_date] [date] NULL,
	[contract_type] [nvarchar](255) NULL,
	[salary_coefficient] [decimal](4, 2) NULL,
	[academic_degree] [nvarchar](100) NULL,
	[academic_title] [nvarchar](100) NULL,
	[specialization] [nvarchar](255) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lecturer_course_classes]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lecturer_course_classes](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NULL,
	[course_class_id] [uniqueidentifier] NULL,
	[role] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[majors]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[majors](
	[id] [uniqueidentifier] NOT NULL,
	[department_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[effective_date] [varchar](20) NULL,
	[expiry_date] [varchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](100) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[module] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[level] [nvarchar](100) NULL,
	[department_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[permission_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[is_system] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[building_id] [uniqueidentifier] NULL,
	[floor_floor_number] [int] NULL,
	[capacity] [int] NULL,
	[type] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[has_projector] [bit] NULL,
	[has_air_conditioner] [bit] NULL,
	[has_computer] [bit] NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedules]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedules](
	[id] [uniqueidentifier] NOT NULL,
	[course_section_id] [uniqueidentifier] NULL,
	[employee_id] [uniqueidentifier] NULL,
	[room_id] [uniqueidentifier] NULL,
	[day_of_week] [int] NULL,
	[date] [date] NULL,
	[shift] [nvarchar](50) NULL,
	[start_period] [int] NULL,
	[end_period] [int] NULL,
	[number_of_periods] [int] NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[mode] [nvarchar](100) NULL,
	[status] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[schedule_status] [varchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[school_years]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[school_years](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[semesters]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[semesters](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[school_year_id] [uniqueidentifier] NULL,
	[school_year_name] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_classe_sections]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_classe_sections](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[student_classe_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_classes]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_classes](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[academic_year_id] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[major_id] [uniqueidentifier] NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[employee_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_course_sections]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_course_sections](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[course_section_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](50) NULL,
	[registered_at] [datetime] NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[personal_identification_number] [varchar](20) NULL,
	[date_of_issue] [date] NULL,
	[card_place] [nvarchar](100) NULL,
	[address] [nvarchar](300) NULL,
	[current_address] [nvarchar](300) NULL,
	[academic_year_year] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[major_id] [uniqueidentifier] NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[status] [varchar](50) NULL,
	[student_classe_id] [uniqueidentifier] NULL,
	[admission_year] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training_program_courses]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_program_courses](
	[id] [uniqueidentifier] NOT NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[course_id] [uniqueidentifier] NULL,
	[course_code] [varchar](100) NULL,
	[course_name] [nvarchar](255) NULL,
	[semester_id] [uniqueidentifier] NULL,
	[semester_code] [nvarchar](100) NULL,
	[academic_year] [nvarchar](20) NULL,
	[is_required] [bit] NULL,
	[group_code] [nvarchar](50) NULL,
	[credits] [decimal](5, 1) NULL,
	[prerequisite_course_id] [uniqueidentifier] NULL,
	[is_prerequisite_required] [bit] NULL,
	[note] [nvarchar](500) NULL,
	[sort_order] [int] NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training_programs]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_programs](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NULL,
	[name] [nvarchar](255) NULL,
	[name_en] [nvarchar](255) NULL,
	[major_id] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[degree_level] [nvarchar](50) NULL,
	[education_type] [nvarchar](50) NULL,
	[total_credits] [decimal](5, 1) NULL,
	[required_credits] [decimal](5, 1) NULL,
	[elective_credits] [decimal](5, 1) NULL,
	[internship_credits] [decimal](5, 1) NULL,
	[thesis_credits] [decimal](5, 1) NULL,
	[admission_year] [date] NULL,
	[duration_years] [decimal](5, 1) NULL,
	[max_duration_years] [decimal](5, 1) NULL,
	[effective_date] [date] NULL,
	[expiry_date] [date] NULL,
	[description] [nvarchar](max) NULL,
	[objectives] [nvarchar](max) NULL,
	[learning_outcomes] [nvarchar](max) NULL,
	[version] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/20/2026 10:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](255) NULL,
	[last_login_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'5e9779d1-3cc8-45b9-b36a-044cd4c59cfe', N'AY2031', N'Niên khóa 2031-2035', N'2031-2035', N'Niên khóa t? 2031 d?n 2035', CAST(N'2031-09-01' AS Date), CAST(N'2035-06-30' AS Date), CAST(N'2026-04-09T08:43:48.4600000' AS DateTime2), CAST(N'2026-04-09T09:09:19.1900000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'eece1249-3506-4dc8-8b8a-0495425e6a49', N'AY2017', N'Niên khóa 2017-2020', N'2017-2020', N'Niên khóa từ 2017 đến 2020', CAST(N'2017-09-01' AS Date), CAST(N'2020-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'd7c07397-5a29-4eac-8a72-17d1136602cb', N'AY2026', N'Niên khóa 2026-2030', N'2026-2030', N'Niên khóa t? 2026 d?n 2030', CAST(N'2026-09-01' AS Date), CAST(N'2030-06-30' AS Date), CAST(N'2026-04-09T08:43:48.4600000' AS DateTime2), CAST(N'2026-04-09T09:09:19.1900000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[buildings] ([id], [code], [name], [address], [total_floors], [building_type], [description], [note], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'dfba59aa-1bcd-4aad-a724-f99a25286ce1', N'B1', N'Tòa A', N'Khu A - Cơ sở chính', 5, N'ACADEMIC', N'Tòa học lý thuyết', N'Không có', CAST(N'2026-04-09T08:46:42.3000000' AS DateTime2), CAST(N'2026-04-09T09:15:31.0900000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[buildings] ([id], [code], [name], [address], [total_floors], [building_type], [description], [note], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a9c6c0f6-e09e-4a9e-ad2e-28b5c9ee824e', N'B2', N'Tòa B', N'Khu B - Cơ sở chính', 6, N'ACADEMIC', N'Tòa học thực hành', N'Có phòng lab', CAST(N'2026-04-09T08:46:42.3000000' AS DateTime2), CAST(N'2026-04-09T09:15:31.0900000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[buildings] ([id], [code], [name], [address], [total_floors], [building_type], [description], [note], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'aa5d00d6-f5b1-4f06-bb33-398c88a889cf', N'B3', N'Tòa C', N'Khu C - Cơ sở chính', 4, N'ADMIN', N'Tòa hành chính', N'Văn phòng khoa', CAST(N'2026-04-09T08:46:42.3000000' AS DateTime2), CAST(N'2026-04-09T09:15:31.0900000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a835541a-f0e8-4766-84c2-0abd2bc77e1b', N'TT', N'Khoa Truyền thông', N'Đào tạo truyền thông đa phương tiện', CAST(N'2012-01-01' AS Date), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'3bfc60aa-62e8-4107-abf0-1a436c0b1349', N'NN', N'Khoa Ngoại ngữ', N'Đào tạo ngoại ngữ', CAST(N'2003-01-01' AS Date), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'bc808290-ef1f-472a-b24e-1e4d19380b83', N'LOG', N'Khoa Logistics', N'Đào tạo logistics và chuỗi cung ứng', CAST(N'2016-01-01' AS Date), CAST(N'2026-04-02T17:16:56.1700000' AS DateTime2), CAST(N'2026-04-02T17:16:56.1700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[lecturer_course_classes] ([id], [employee_id], [course_class_id], [role], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'006ff2a7-0884-4d0f-82f5-01c4c8f44b8f', N'55eb6750-9d45-4a63-8ffe-02a5a6a66a29', N'08ec11e0-87a5-4f41-94ee-053a87a61db1', N'lecturer', CAST(N'2026-04-09T08:50:52.4166667' AS DateTime2), CAST(N'2026-04-09T09:22:23.3133333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[lecturer_course_classes] ([id], [employee_id], [course_class_id], [role], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'49046d52-413c-4d80-b550-0a716e68c561', N'55eb6750-9d45-4a63-8ffe-02a5a6a66a29', N'08ec11e0-87a5-4f41-94ee-053a87a61db1', N'lecturer', CAST(N'2026-04-09T08:50:52.4166667' AS DateTime2), CAST(N'2026-04-09T09:22:23.3133333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[lecturer_course_classes] ([id], [employee_id], [course_class_id], [role], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'29145ff8-bf68-4b99-8d90-30691ff417ae', N'55eb6750-9d45-4a63-8ffe-02a5a6a66a29', N'08ec11e0-87a5-4f41-94ee-053a87a61db1', N'lecturer', CAST(N'2026-04-09T08:50:52.4166667' AS DateTime2), CAST(N'2026-04-09T09:22:23.3133333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'94844a40-f7c5-47f0-864b-00ebe8d79154', N'5890f569-0f42-440b-8fa4-2e88f56fd8c5', N'MJ00017', N'Logistics và Quản lý chuỗi cung ứng 49', N'Ngành đào tạo chuyên sâu 31', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a110231c-019c-46f0-84f8-0205fc7679f8', N'c26c9041-030e-4459-af90-8e81dc2d21a9', N'MJ00023', N'Logistics và Quản lý chuỗi cung ứng 41', N'Ngành đào tạo chuyên sâu 8', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7470b351-d46b-49a2-a7aa-02c53385de85', N'96ee7061-516b-4a25-a787-3780c4bbe82c', N'MJ00033', N'Marketing 19', N'Ngành đào tạo chuyên sâu 38', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'51c01684-ea1a-4bec-be77-065031935cb3', N'USER_VIEW', N'Xem danh sách người dùng', N'USER', N'Cho phép xem danh sách người dùng', CAST(N'2026-04-02T13:38:23.6933333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ea9282f5-90c3-4071-b89d-06a8e482d935', N'CLASS_APPROVE', N'Duyệt lớp học phần', N'CLASS', N'Duyệt mở lớp học phần', CAST(N'2026-04-02T13:41:42.2633333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'3007f48f-2b32-4d0f-b182-08355a33843f', N'ROLE_CREATE', N'Tạo vai trò', N'ROLE', N'Tạo mới vai trò', CAST(N'2026-04-02T13:38:23.6933333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'6917d6aa-bb7f-4612-9e7c-04f0c174213b', N'GV', N'Giảng viên', N'Giảng dạy sinh viên', N'Nhân sự', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a0f31994-f76f-424c-81eb-0575790f68dc', N'AIENG', N'Kỹ sư AI', N'Phát triển AI', N'Kỹ thuật', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'fda6a4a1-2e36-4a8e-b519-125006a7aa95', N'TEST', N'Kiểm thử phần mềm', N'Tester', N'Kỹ thuật', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ed2247d6-8e00-4ad5-85d1-00a67dac9252', N'd81d33a6-e683-4598-9f9a-b4300faf4ccf', N'6b2962cd-278d-4a81-a079-f020f1ae2e9e', CAST(N'2026-04-02T13:59:10.9233333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'c007b5aa-a8b6-4c5b-a45a-02ee46118515', N'bc249543-2fe1-4fdd-bb6f-42a1982caea2', N'02653ecb-41d6-495b-aac0-d137b9340a45', CAST(N'2026-04-02T14:00:01.9600000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'1c3bbf4e-ac52-45da-b15c-09488debb179', N'd81d33a6-e683-4598-9f9a-b4300faf4ccf', N'b041cbbc-5469-476e-bea5-fcd6ae1f168a', CAST(N'2026-04-02T13:59:10.9233333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'891a6149-a667-4965-a9c1-2021df86f733', N'IT_SUPPORT', N'Nhân viên IT', N'Hỗ trợ kỹ thuật hệ thống', 0, CAST(N'2026-04-02T13:48:23.1300000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7d5a7247-cb46-417c-b9f5-2be07823d938', N'STUDENT', N'Sinh viên', N'Đăng ký học phần và xem điểm', 0, CAST(N'2026-04-02T13:48:23.1300000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'63da3dbc-c052-4ad4-9522-38f937646865', N'LECTURER', N'Giảng viên', N'Giảng dạy và nhập điểm', 0, CAST(N'2026-04-02T13:48:23.1300000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[rooms] ([id], [code], [name], [building_id], [floor_floor_number], [capacity], [type], [status], [has_projector], [has_air_conditioner], [has_computer], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ee1194c3-9e2a-4edb-bc3b-8f8783b43f38', N'A101', N'Phòng A101', N'dfba59aa-1bcd-4aad-a724-f99a25286ce1', 1, 50, N'theory', N'available', 1, 1, 0, N'Phòng học lý thuyết', CAST(N'2026-04-09T08:47:14.9400000' AS DateTime2), CAST(N'2026-04-09T09:16:07.8500000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[rooms] ([id], [code], [name], [building_id], [floor_floor_number], [capacity], [type], [status], [has_projector], [has_air_conditioner], [has_computer], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'59f23fc3-0436-4144-971a-127690461cc4', N'A102', N'Phòng A102', N'dfba59aa-1bcd-4aad-a724-f99a25286ce1', 1, 60, N'theory', N'available', 1, 1, 0, N'Phòng học lý thuyết', CAST(N'2026-04-09T08:47:14.9400000' AS DateTime2), CAST(N'2026-04-09T09:16:07.8500000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[rooms] ([id], [code], [name], [building_id], [floor_floor_number], [capacity], [type], [status], [has_projector], [has_air_conditioner], [has_computer], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'e6d48599-f60a-46ff-8303-23c1af401ce7', N'B201', N'Phòng B201', N'a9c6c0f6-e09e-4a9e-ad2e-28b5c9ee824e', 2, 40, N'lab', N'available', 1, 1, 1, N'Phòng lab máy tính', CAST(N'2026-04-09T08:47:14.9400000' AS DateTime2), CAST(N'2026-04-09T09:16:07.8500000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'24806991-3c90-4139-9e47-0e2ceaa05230', N'SY2030', N'Năm học 2030-2031', N'Năm học từ 2030 đến 2031', NULL, CAST(N'2030-09-01' AS Date), CAST(N'2031-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'115fd0d2-2578-4c46-9f0e-0f22f539805e', N'SY2016', N'Năm học 2016-2017', N'Năm học từ 2016 đến 2017', NULL, CAST(N'2016-09-01' AS Date), CAST(N'2017-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'631b8544-76c3-42ed-940b-396ac0d72493', N'2023-2024', N'Nam h?c 2023-2024', N'Nam h?c 2023-2024', NULL, CAST(N'2023-09-01' AS Date), CAST(N'2024-06-30' AS Date), CAST(N'2026-04-09T08:45:43.4214492' AS DateTime2), CAST(N'2026-04-09T09:10:07.0266667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'e941f638-e0ae-48d8-b0a4-6c356af20048', N'HK1_2014_2015', N'Học kỳ 1 năm học 2014-2015', N'84e45293-813a-4891-b233-b2b66b195c04', N'Năm học 2014-2015', CAST(N'2014-09-01' AS Date), CAST(N'2015-01-15' AS Date), CAST(N'2026-04-02T17:05:26.3333333' AS DateTime2), CAST(N'2026-04-02T17:05:26.3333333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'66112440-b80c-49b9-a774-ae728cd1731a', N'HK2_2014_2015', N'Học kỳ 2 năm học 2014-2015', N'84e45293-813a-4891-b233-b2b66b195c04', N'Năm học 2014-2015', CAST(N'2015-01-16' AS Date), CAST(N'2015-06-30' AS Date), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ec5ca34f-7ff7-43f6-a514-7d3e1acff750', N'HK1_2015_2016', N'Học kỳ 1 năm học 2015-2016', N'21f9301f-e941-480f-9e7c-aa527e5b3be4', N'Năm học 2015-2016', CAST(N'2015-09-01' AS Date), CAST(N'2016-01-15' AS Date), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[student_course_sections] ([id], [student_id], [course_section_id], [status], [registered_at], [note], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'e2072545-ba43-478f-9fe8-11b537f96eb5', N'86034039-c804-415c-a892-00eff71e2ef7', N'08ec11e0-87a5-4f41-94ee-053a87a61db1', N'registered', CAST(N'2026-04-09T08:50:52.410' AS DateTime), NULL, CAST(N'2026-04-09T08:50:52.4100000' AS DateTime2), CAST(N'2026-04-09T09:21:51.2100000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[student_course_sections] ([id], [student_id], [course_section_id], [status], [registered_at], [note], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7b4ca5ff-7c8a-4225-8358-1ff3d2e2f785', N'86034039-c804-415c-a892-00eff71e2ef7', N'08ec11e0-87a5-4f41-94ee-053a87a61db1', N'registered', CAST(N'2026-04-09T08:50:52.410' AS DateTime), NULL, CAST(N'2026-04-09T08:50:52.4100000' AS DateTime2), CAST(N'2026-04-09T09:21:51.2100000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[student_course_sections] ([id], [student_id], [course_section_id], [status], [registered_at], [note], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7048029a-8405-4300-a2cc-2e6d09968888', N'86034039-c804-415c-a892-00eff71e2ef7', N'08ec11e0-87a5-4f41-94ee-053a87a61db1', N'registered', CAST(N'2026-04-09T08:50:52.410' AS DateTime), NULL, CAST(N'2026-04-09T08:50:52.4100000' AS DateTime2), CAST(N'2026-04-09T09:21:51.2100000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[users] ([id], [username], [password], [full_name], [email], [phone], [avatar_url], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'1c415e13-19cf-493f-8e52-032fd22bc10a', N'user09', N'hash123', N'Trần Văn B4', N'user09@gmail.com', N'0900000009', NULL, CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[users] ([id], [username], [password], [full_name], [email], [phone], [avatar_url], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'e6dc4407-8d7f-4327-9f30-0546b5e334c2', N'user07', N'hash123', N'Trần Văn B2', N'user07@gmail.com', N'0900000007', NULL, CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[users] ([id], [username], [password], [full_name], [email], [phone], [avatar_url], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'0d2ad352-b053-42b2-ae91-0e9ecc17dc35', N'user35', N'hash123', N'User 35', N'user35@gmail.com', N'0900000035', NULL, CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permissi__357D4CF9AD821C9D]    Script Date: 4/20/2026 10:10:28 AM ******/
ALTER TABLE [dbo].[permissions] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_role_permissions]    Script Date: 4/20/2026 10:10:28 AM ******/
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [UQ_role_permissions] UNIQUE NONCLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__357D4CF98D7DCD41]    Script Date: 4/20/2026 10:10:28 AM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__student___357D4CF9BAEA044E]    Script Date: 4/20/2026 10:10:28 AM ******/
ALTER TABLE [dbo].[student_classes] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__students__357D4CF9582D8BE3]    Script Date: 4/20/2026 10:10:28 AM ******/
ALTER TABLE [dbo].[students] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_user_roles]    Script Date: 4/20/2026 10:10:28 AM ******/
ALTER TABLE [dbo].[user_roles] ADD  CONSTRAINT [UQ_user_roles] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT ((0)) FOR [min_students]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT (N'open') FOR [status]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (N'lecturer') FOR [role]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [is_system]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (N'offline') FOR [mode]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (N'scheduled') FOR [status]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ('active') FOR [schedule_status]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT ('registered') FOR [status]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (getdate()) FOR [registered_at]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT ('studying') FOR [status]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT ((1)) FOR [is_required]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (N'active') FOR [status]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_permissions] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_permissions]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_roles]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_roles]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_users]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD CHECK  (([day_of_week]>=(2) AND [day_of_week]<=(8)))
GO
USE [master]
GO
